/* Global Reset */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background: linear-gradient(to right, #23374b, #555683);
    color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 2.2em;
    margin-bottom: 10px;
}

header .welcome-text {
    font-size: 1.1em;
    color: #bbb;
    margin-top: 5px;
}

/* Main Content */
main {
    margin-left: 240px; /* Space for sidebar */
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../image/loginBg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
